@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans";
}

#content{
    display: grid;
    grid-template-columns: 0.23fr 1fr;
}
#sidebar{
    background-color: blue;
    display: grid;
    gap: 5px;
}
#main{
    background-color: green;
    text-align: center;
}

#addProjectDialog{
    background-color: green;
}

#addProjectButton{
    margin-top: 5px;
    background-color: red;
}

#viewAllToDosButton{
    background-color: yellowgreen;
}

#highPriority{
    background-color: red;
}

#mediumPriority{
    background-color: yellow;
}

#lowPriority{
    background-color: green;
}

#defualtPriority{
    background-color: #1D9AF2;
}

#toDoContainer{
    color: blueviolet;
}

#newToDoDialog{
    background-color: rgb(213, 255, 255);
    display: grid;
    gap: 10px;
}

#priorityDropDownContainer{
    display: grid;
    text-align: start;
    grid-template-rows: 2;
}

label{
    font-size: 11px;
}

/* input, select{
    background-color pe;
} */

#projectButtonContainer{
    background-color: ;
    display: grid;
    gap: 10px;
    margin-top: 30px;
}

/* credit for animation bellow: https://www.csswand.dev/ */

.button-animated {
color: #1D9AF2;
background-color: #292D3E;
border: 1px solid #1D9AF2;
border-radius: 4px;
padding: 0 15px;
cursor: pointer;
height:32px;
font-size:14px;
transition: all 0.2s ease-in-out;
}

.button-animated:hover {
box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
transform: translateX(-3px);
}