#content{
    background-color: red;
    display: grid;
    grid-template-columns: 0.23fr 1fr;
}
#sidebar{
    background-color: blue;
}
#main{
    background-color: green;
    text-align: center;
}

#addProjectDialog{
    background-color: green;
}

#addProjectButton{
    background-color: red;
}

